# Library dependencies for the python code.  You need to install these with
# 'pip install -r requirements.txt' before you can run this.
astropy==3.0.1
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
matplotlib==2.2.0
numpy==1.14.2
pandas==0.22.0
scipy==1.0.0
h5py==2.7.1
